# Executables
*.exe
*.out
*.app

# Log file
*.log
  
# Compiled class file
*.class

# dotenv
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store

# Editer_Trush
.vscode
setting.json
.dist
*.swp

# Custom files

.python-version